 

 
<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="/assets/logo/logo.png" height="50" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">

        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
        </span>

        <button type="button" pButton label="login"    class="p-button-rounded" icon="pi pi-user"      style="margin-left:.25em"  ></button>
        <button type="button" pButton label="register" class="p-button-rounded" icon="pi pi-user-edit" style="margin-left:.25em"  ></button>
    </ng-template>
</p-menubar>
<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="/assets/logo/logo.png" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
        </span>
        <button type="button" pButton label="Logout" class="p-button-rounded" icon="pi pi-power-off" style="margin-left:.25em"  ></button>
    </ng-template>
</p-menubar> -->



<p-menubar >
    <ng-template pTemplate="start">
        <img src="/assets/logo/logo.png" height="35" class="mr-2">
        <button #btn type="button" pButton  class="p-button-rounded p-button-secondary " icon="pi pi-bars" label="Categories" (click)="menu.toggle($event)"></button>
        <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="250" [style]="{'min-width':'175px'}" ></p-slideMenu>
    </ng-template>


    <ng-template pTemplate="end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
        </span>
        <button type="button" pButton label="login"    class="p-button-rounded" icon="pi pi-user"      style="margin-left:.25em"  ></button>
        <button type="button" pButton label="register" class="p-button-rounded" icon="pi pi-user-edit" style="margin-left:.25em"  ></button>
    </ng-template>
</p-menubar>


<p-menubar  >
    <ng-template pTemplate="start">
        <img src="/assets/logo/logo.png" height="35" class="mr-2">
        <button #btn type="button"  class="p-button-rounded p-button-secondary " pButton icon="pi pi-bars" label="Categories" (click)="menu.toggle($event)"></button>
        <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="500" [style]="{'min-width':'350px'}" ></p-slideMenu>
    </ng-template>
    <ng-template pTemplate="end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="value" />
        </span>
        <button type="button" pButton label="Logout" class="p-button-rounded" icon="pi pi-power-off" style="margin-left:.25em"  ></button>
    </ng-template>
</p-menubar>




 